<div class="container">
	<h3><%= @user.name %>'s Library</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<% @user.books.each do |book| %>
				<tr>
					<td><%= link_to book.title, book_path(book) %></td>
					<td><%= link_to book.author.name, author_path(book.author_id) %>
				</tr>
			<% end %> 
		</tbody>
	</table>

	<%= form_tag(new_book_path, method: "GET") do %>
		<%= submit_tag "Add Book To Library" %>
	<% end %>

</div>