<h1><%= @user.name %>'s Tasks</h1>

<h3>You Requested:</h3>
<ol>
    <% @user.sent_transactions.each do |t| %>
        <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
        held by <%= t.receiver %></li>
    <% end %>
</ol>

<h3>You Received Requests for:</h3>
    <ol>
    <% @user.received_transactions.each do |t| %>
        <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
        by <%= t.sender %></li>
        <%= form_for t accept_path do |f| %>
            <%= f.hidden_field :received_transaction_id, value: t.id %>
            <%= f.submit "Accept" %>
        <% end %>
        <%= form_for t decline_path do |f| %>
            <%= f.hidden_field :received_transaction_id, value: t.id %>
            <%= f.submit "Decline" %>
        <% end %>
    <% end %>
</ol>