<h1><%= @user.name %>'s Tasks</h1>
<div>
    <h3>Your requests:</h3>
        <% open_transactions = @user.sent_transactions.select do |t| %>
            <% t.open == 1%>
        <% end %>
        <% if open_transactions.count == 0 %>
            <span>You've made no book requests recently</span>
        <% else %>
            <ol>
                <% open_transactions.each do |t| %>
                    <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
                    held by <%= t.receiver_name %></li>
                <% end %>
            </ol>
        <% end %>
    </ul>
</div>

<div>
    <h3>Your received requests:</h3>
    <% open_transactions = @user.received_transactions.select do |t| %>
        <% t.open == 1 %>
    <% end %>
    <% if open_transactions.count == 0 %>
        <span>No one's requesting a book from you.</span>
    <% else %>
        <ol>
            <% open_transactions.each do |t| %>
                <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
                by <%= t.sender_name %></li>
                <%= form_for t, url: accept_path, method: :post do |f| %>
                    <%= f.hidden_field :received_transaction_id, value: t.id %>
                    <%= f.submit "Accept" %>
                <% end %>
                <%= form_for t, url: decline_path, method: :post do |f| %>
                    <%= f.hidden_field :received_transaction_id, value: t.id %>
                    <%= f.submit "Decline" %>
                <% end %>
            <% end %>
        </ol>
    <% end %>
</div>

<div>
    <h3>Past Transactions:</h3>
    <div>
        <h4>Requests made:</h4>
            <% closed_transactions = @user.sent_transactions.select do |t| %>
                <% t.open == 0%>
            <% end %>
            <% if closed_transactions.count == 0 %>
                <span>You've never requested a book!</span>
            <% else %>
                <ol>
                    <% closed_transaction.each do |t| %>
                        <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
                        held by <%= t.receiver_name %></li>
                    <% end %>
                </ol>
            <% end %>
    </div>
    <div>
        <h4>Requests received:</h4>
        <% closed_transactions = @user.received_transactions.select do |t| %>
            <% t.open == 0%>
        <% end %>
        <% if closed_transactions == 0 %>
            <span>You've never received a book request.</span>
        <% else %>
            <ol>
                <% closed_transactions.each do |t| %>
                    <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
                    held by <%= t.receiver_name %></li>
                <% end %>
            </ol>
        <% end %>
    </div>
</div>