<h3><%= @user.name %>'s Tasks</h3>
<br>
<div>
	<div>
			<h4>Open Transactions</h4><br>
		<div>
		    <h5>Your requests:</h5>
		        <% open_transactions = @user.sent_transactions.select do |t| %>
		            <% t.open == 1%>
		        <% end %>
		        <% if open_transactions.count == 0 %>
		            <span>(No requests pending)</span>
		        <% else %>
		            <ol>
		                <% open_transactions.each do |t| %>
		                    <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
		                    held by <%= t.receiver_name %></li>
		                <% end %>
		            </ol>
		        <% end %>
		    </ul>
		</div>
		
		<br>
		
		<div>
		    <h5>Received requests:</h5>
		    <% open_transactions = @user.received_transactions.select do |t| %>
		        <% t.open == 1 %>
		    <% end %>
		    <% if open_transactions.count == 0 %>
		        <span>(No requests pending)</span>
		    <% else %>
		        <ol>
		            <% open_transactions.each do |t| %>
		                <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
		                by <%= t.sender_name %></li>
		                <div>
			                <div style="display: inline-block;">
				                <%= form_for t, url: accept_path, method: :post do |f| %>
			                    <%= f.hidden_field :received_transaction_id, value: t.id %>
			                    <%= f.submit "Accept", class: "btn btn-primary" %>
												<% end %>
			                </div>
			                <div style="display: inline-block;">
				                <%= form_for t, url: decline_path, method: :post do |f| %>
			                    <%= f.hidden_field :received_transaction_id, value: t.id %>
			                    <%= f.submit "Decline", class: "btn btn-secondary" %>
												<% end %>
											</div>
		                </div>
		            <% end %>
		        </ol>
		    <% end %>
		</div>
	</div>
	
	<br><br>
	
	<div>
	    <h4>Closed Transactions</h4><br>
	    <div>
	        <h5>Requests made:</h5>
	            <% closed_transactions = @user.sent_transactions.select do |t| %>
	                <% t.open == 0%>
	            <% end %>
	            <% if closed_transactions.count == 0 %>
	                <span>You've never requested a book!</span>
	            <% else %>
	                <ol>
	                    <% closed_transactions.each do |t| %>
	                        <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
	                        held by <%= t.receiver_name %></li>
	                    <% end %>
	                </ol>
	            <% end %>
	    </div>
	    
	    <br>
	    
	    <div>
	        <h5>Requests received:</h5>
	        <% closed_transactions = @user.received_transactions.select do |t| %>
	            <% t.open == 0%>
	        <% end %>
	        <% if closed_transactions.count == 0 %>
	            <span>You haven't received a book request yet!</span>
	        <% else %>
	            <ol>
	                <% closed_transactions.each do |t| %>
	                    <li><%= link_to t.book_title, book_path(t.book) %> by <%= t.book_author %><br>
	                    held by <%= t.receiver_name %></li>
	                <% end %>
	            </ol>
	        <% end %>
	    </div>
	</div>
</div>