<div class="container">
	<h3>Add a Book To Your Library</h3>
	<div>
		<%= form_for @book do |f| %>
			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: "form-control" %><br>
			</div>
			<div class="form-group">
				<%= f.label "Short Description" %>
				<%= f.text_field :description, class: "form-control" %><br>
			</div>
			<div class="form-group">
				<%= f.label "Author" %>
				<div class="input-group">
					<%= f.collection_select :author_id, Author.all, :id, :name, class: "form-control" %><br>
				</div>
			</div>
			<div class="form-group">
				<%= f.label "Genre" %>
				<div class="input-group">
					<%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control" %><br>
				</div>
			</div>
				<%= f.hidden_field :user_id, value: session[:user_id] %><br>
			<div class="form-group">
				<%= f.submit "Submit", class: "btn btn-primary" %>
			</div>
			
		<% end %>
	</div>
</div>