<h3><%= @book.title %></h3>
<p>Author: <%= link_to @book.author.name, author_path(@book.author) %></p>
<p>Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></p>
<p>Description: <%= @book.description %></p>
<p>Current holder: <%= link_to @book.user.name, user_path(@book.user) %></p>

<% records = Transaction.all.select do |transaction| %>
	<% transaction.book_id == @book.id && transaction.open == 1 %>
<% end %>
<% if records.count == 0 && @book.user_id != session[:user_id] %>
	<%= form_for @transaction do |f| %>
		<%= f.hidden_field :book_id, value: @book.id %>
		<%= f.hidden_field :receiver_id, value: @book.user_id %>
		<%= f.hidden_field :sender_id, value: session[:user_id] %>
		<%= f.hidden_field :open, value: 1 %>
		<%= f.submit "Request Book" %>
	<% end %>
<% end %>

<% if session[:user_id] == @book.user_id %>
	<%= form_for @book, url: edit_book_path, method: :GET do |f| %>
		<%= f.submit "Edit/Delete Book" %>
	<% end %>
<% end %>