<div class="container">
    <h1>Welcome to Book Grabber</h1>
    <div>
        <p>Looking for a book?</p>
        <p>Find it right here<p>
    </div>

    <div>
        <h3>Get Started</h3>
        <% if session[:user_id] == nil %>
            <a href="<%= new_user_path %>"><button type="button" class="btn btn-primary">Sign Up</button></a>
            <a href="<%= login_path %>"><button type="button" class="btn btn-primary">Login</button></a> 
        <% end %>
    </div>

    <div>
        <h4>Book Trader Service Statistics</h4>

        <p>Book Trader currently has <%= @users.size %> users and <%= @books.size %> books in circulation.</p>

        <p>Books span <%= @genres.size %> genres from <%= @authors.size %> authors.</p>

        <p>Our users have made <%= @transactions.size%> transactions.</p>

        <p>The most active trader is <%= User.most_active_name %> with <%= User.most_transactions_count %> transactions. </p>
    </div>
</div>