<div class="welcome">
    <h1>Welcome to Book Grabber</h1>
    <p>Looking for a book? Find it right here.</p>
    
    <div>
        <% if session[:user_id] == nil %>
            <h4>Get Started</h4>
            <div>
                <a href="<%= new_user_path %>"><button type="button" class="btn btn-primary">Sign Up</button></a>
                <a href="<%= login_path %>"><button type="button" class="btn btn-primary">Login</button></a> 
            </div>
        <% end %>
    </div>
</div>
    
<div class="stats">
    <p class="sub-header">Book Grabber Service Statistics</p>
    <p>Book Trader currently has <%= @users.size %> users and <%= @books.size %> books in circulation.</p>
    <p>Books span <%= @genres.size %> genres from <%= @authors.size %> authors.</p>
    <p>Our users have made <%= @transactions.size%> transactions.</p>
    <p>The most active trader is <%= User.most_active_name %> with <%= User.most_transactions_count %> transactions. </p>
</div>
