<!DOCTYPE html>
<html>
  <head>
    <title>BookTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Book Trader</h1>
    <a href="<%= books_path %>">Browse All Books </a>
    <% if session[:user_id] != nil %>
      <a href="<%= user_path(session[:user_id])%>">My Library</a>
    <% end %>
    <a href="<%= tasks_path %>">My Tasks</a>
    
    <% if session[:user_id] != nil %>
      <%= form_tag logout_path do %>
        <%= submit_tag "Logout" %>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
