<!DOCTYPE html>
<html>
  <head>
    <title>BookTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to Book Trader!</h1>
    
    <%= form_tag logout_path do %>
    	<%= submit_tag "Logout" %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
